:root {
    --stroke: #ffffff;
    --greystroke: rgba(187, 187, 187, 0.582);
    --background: #000000;
}

html, body {
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.Center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Clock {
    width: 80%;
    /* border: solid .1rem rgba(255, 255, 255, 0.5); */
    /* border-radius: 100%; */
    /* box-sizing: border-box; */
}
.circle_progress {
    width: 100%;
    height: 100%;
    border: .1rem;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
}

.circle_progress { transform: rotate(-90deg); }
.frame, .bar { fill: none; }
.frame { stroke: var(--greystroke); }
.bar {
	stroke: var(--stroke);
	stroke-linecap: round;
}

.Containor {
    /* width: 40%; */
    width: 40rem;
}

.Time {
    position: absolute;
    width: 100%;
    height: 100%;

    transition: all 1s;
}
.Time:after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    content: "";
    border-radius: 100%;
}

.Hour {z-index: 2;}
.Minute {z-index: 1;}
.Second {z-index: 3;}

.Hour:after {
    width: 2.5%;
    height: 2.5%;
    background: rgb(146, 146, 146);
}

.Minute:after {
    width: 3%;
    height: 3%;
    background: var(--stroke);
}

.Second:after {
    width: 1.6%;
    height: 1.6%;
    background: rgb(190, 0, 0);
}

.HourCount:after {
    width: 1.3%;
    height: 3.5%;
    /* border: solid .2rem var(--greystroke); */
    border: none;
    box-sizing: border-box;
    border-radius: 100rem;
    background: rgb(44, 44, 44);
    transform: translate(-50%, 150%);
}
.Bold:after {
    width: 1.3%;
    transform: translate(-50%, 170%) scaleY(1.6);
    /* border: solid .2rem var(--greystroke); */
    border: none;
    border-radius: 100rem;
    background: rgb(44, 44, 44);
}

.Square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.Day {
    position: absolute;
    width: 8%;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
}
.Day svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.Day line {
    fill: none;
    stroke: var(--stroke);
    stroke-linecap: round;
}
.Day path {
    fill: var(--stroke);
}

@media screen and (max-width: 1200px) {
    .Containor {
        width: 95%;
    }
}